@charset "utf-8";

#downloadbox-tbbutton {
    -moz-image-region: rect(0, 108px, 18px, 90px);
}

#downloadbox-tbbutton > .toolbarbutton-icon {
    margin: 0px !important;
    width: auto !important;
    height: auto !important;
}

#nav-bar #downloadbox-tbbutton > .toolbarbutton-icon {
    padding: 2px 6px !important;
}

#downloadbox-progress {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

#downloadbox-label {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #404040;
    text-shadow: 0px 0px 2px white;
}

#addon-bar #downloadbox-button.on-downloading #downloadbox-progress-wrapper {
    margin: 0px 1px;
    background-image: -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%),
        -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%);
    background-position: left, right;
    background-size: 1px 100%, 1px 100%;
    background-repeat: no-repeat;
}

#addon-bar #downloadbox-button.on-downloading #downloadbox-label-wrapper {
    padding-right: 1px;
}

#nav-bar #downloadbox-button.on-downloading #downloadbox-progress-wrapper {
    margin: 2px 1px;
    background-image: -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%),
        -moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%);
    background-position: left, right;
    background-size: 1px 100%, 1px 100%;
    background-repeat: no-repeat;
}

#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #downloadbox-button.on-downloading #downloadbox-progress-wrapper {
    margin: 6px 2px;
    background: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(23, 51, 78, 0.2);
}

#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #downloadbox-button.on-downloading:hover #downloadbox-progress-wrapper {
    border-color: transparent;
}

#navigator-toolbox[iconsize="large"][mode="icons"] > #nav-bar #downloadbox-button.on-downloading #downloadbox-label-wrapper {
    padding-bottom: 3px;
}

#TabsToolbar #downloadbox-button.on-downloading #downloadbox-progress-wrapper {
    margin: 1px 1px 0px 1px;
    background-image: -moz-linear-gradient(transparent, rgba(0,0,0,.25) 30%),
        -moz-linear-gradient(transparent, rgba(0,0,0,.25) 30%);
    background-position: 0 -1px, 100% -1px;
    background-size: 1px 100%, 1px 100%;
    background-repeat: no-repeat;
}

#TabsToolbar #downloadbox-button.on-downloading #downloadbox-label-wrapper {
    padding-right: 1px;
}

#downloadbox-progress-bar {
    background-color: rgba(0, 255, 0, 0.4);
}

#downloadbox-button.on-paused #downloadbox-progress-bar {
    background-color: rgba(128, 128, 128, 0.4);
}
